<p class="about">
    I am Sai Ganesh Pendela, a driven software engineering master's student at the University of Maryland
    with a robust background in information technology from VVIT in India. 
    Specializing in web development and cloud solutions, I possess strong technical skills 
    across a broad spectrum of technologies including JavaScript, Python, AWS, Docker, and Kubernetes, 
    supplemented by certifications in AWS Cloud Foundations and Java Full Stack Development.
</p>

<p class="about">Currently, I am a Graduate Assistant and Student Tutor at UMD, where I have significantly contributed to
    enhancing student performance in software engineering and advanced data structures. 
    My tutoring initiatives have been credited with improving class averages and reducing course withdrawal rates. 
    Additionally, as a cloud intern and student developer, I have successfully led projects focusing on web 
    application development and system architecture, demonstrating a keen ability to enhance user experience 
    and system reliability.</p>
    
<p class="about">Passionate about software design and user interaction, 
    I aim to leverage my skills in software engineering and web development to create innovative, 
    user-centric solutions. I am always eager to connect with professionals from various fields to 
    learn and share knowledge, ensuring continuous professional growth and technological advancement.</p>
    