<div class="contact-info">
    <p><strong>Name:</strong> Sai Ganesh Pendela</p>
    <p><strong>Email:</strong> spendela@umd.edu</p>
    <p><strong>LinkedIn:</strong> <a href="http://www.linkedin.com/in/ganesh-pendela" target="_blank">ganesh-pendela</a></p>
    <p><strong>GitHub:</strong> <a href="https://github.com/ganeshpendela" target="_blank">ganeshpendela</a></p>
</div>